/* Text Styling */
h1 {
  font-size: 45px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
 
/* Header */
.homeHeader {
  text-align: left;
  padding: 10px;
  background-color: #FFA500;
}
.homeHeader h1 {
  margin: 10;
  font-size: 30px;
  color: #333;
}

/* Table */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.items-details th, .items-details td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.15) !important

}
.items-details td {
  font-weight: 500;
  font-family: arial;
  font-size:20px;
  
}
.items-details tr:nth-child(even) {
  background-color: #f9f9f9;
}

.items-details tr:hover {
  background-color: #FFA500;
}
.tableHeader{
  font-size:35px;
}

/* Mission */
.mission-strip {
  background-color: #FFA500;
  padding: 20px;
  border-radius: 8px;
  color: white;
  margin-top: 20px;
}
.mission-strip h2 {
  margin-top: 0;
}

/* Button Adding Styling */
.button-base {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #c95045;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
 
.button-base:hover {
  background-color: #c95045;
}
 
.info-container {
  display: flex; /* Align children side by side */
  justify-content: space-between; /* Space out the blocks */
  gap: 20px; /* Optional: Adds space between the blocks */
}

.contact-info, .business-hours {
  flex: 1; /* Optional: Make both sections take up equal space */
}

.contact-info h3, .business-hours h3 {
  margin-top: 0;
}
